.Signup {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 7.2rem);
}

.Signup__display {
  background-color: var(--green-dark);
  color: var(--green);
  width: calc(33vw - 4.8rem);
  padding: 7.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto Mono;
  font-size: 1.5rem;
  font-weight: 500;
}

.Signup__container {
  width: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signup__form {
  width: 50%;
}

.Signup__card {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  margin-bottom: 1.8rem;
}

.Signup__error {
  margin-bottom: 1.8rem;
  color: var(--grey-light);
}

.Signup__input {
  height: 2.4rem;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding-inline: 0.625rem;
  font-size: 1.125rem;
  border: none;
}

.Signup__input:focus {
  outline: none;
  opacity: 70%;
  transition: all 0.1s;
}

.Signup__input--marginBottom {
  margin-bottom: 1.8rem;
}

.Signup__submit {
  background-color: var(--green);
  color: var(--grey-extra-dark);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: none;
  border-radius: 2.4rem;
  height: 2.4rem;
  width: 100%;
}

.Signup__submit:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--green-dark);
}

@media (max-width: 700px) {
  .Signup {
    height: 100%;
  }

  .Signup__display {
    display: none;
  }

  .Signup__container {
    width: 100vw;
  }

  .Signup__form {
    width: 80%;
  }

  .Signup__input {
    font-size: 1rem;
  }
}