@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body,
p {
  margin: 0;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: #646464;
}

/* Disable autofill after form submission */
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

.species-grid {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(4, 14rem);
  gap: 2.4rem;
  justify-content: center;
}

.search-bar {
  width: 30.4rem;
  grid-column: span 4;
  display: flex;
  height: 2.4rem;
  margin-top: 2.4rem;
}

.search-bar * {
  border: none;
}

.search-bar input {
  flex: 4;
  background-color: #cfcfcf;
  color: #404040;
  padding-inline: 0.625rem;
  font-size: 1.125rem;
}

.search-bar input:focus {
  outline: none;
  opacity: 70%;
  transition: all 0.15s;
}

.search-bar button {
  flex: 1;
  background-color: #404040;
  color: #cfcfcf;
  font-size: 1rem;
  font-weight: 500;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.species-card {
  background-color: #404040;
}

.species-info {
  padding: 0.625rem;
}

.common-name {
  color: #f5f2f2;
  font-size: 1.375rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.625rem;
}

.sci-name {
  color: #cfcfcf;
  font-weight: 200;
  font-size: 0.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.species-card img {
  width: 14rem;
  height: 14rem;
}