.Login {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 7.2rem);
}

.Login__display {
  background-color: var(--green-dark);
  color: var(--green);
  width: calc(33vw - 4.8rem);
  padding: 7.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto Mono;
  font-size: 1.5rem;
  font-weight: 500;
}

.Login__container {
  width: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login__form {
  width: 50%;
}

.Login__card {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  margin-bottom: 1.8rem;
}

.Login__error {
  margin-bottom: 1.8rem;
  color: var(--grey-light);
}

.Login__link {
  color: var(--green);
}

.login-fields-password {
  margin-top: 1.8rem;
}

.Login__input {
  height: 2.4rem;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding-inline: 0.625rem;
  font-size: 1.125rem;
  border: none;
}

.Login__input:focus {
  outline: none;
  opacity: 70%;
  transition: all 0.1s;
}

.Login__input--marginBottom {
  margin-bottom: 1.8rem;
}

.Login__submit {
  background-color: var(--green-dark);
  color: var(--green);
  width: 100%;
  height: 2.4rem;
  border: none;
  padding: none;
  font-size: 1.125rem;
}

.Login__submit:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--green-dark);
}

@media (max-width: 700px) {
  .Login__display {
    display: none;
  }

  .Login__container {
    width: 100vw;
  }

  .Login__form {
    width: 80%;
  }
}