.ModalSets {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 12.9rem;
  overflow: scroll;
  gap: 0.6rem;
}

.ModalSets__set {
  font-size: 1rem;
  color: var(--grey-dark);
  padding: 0.4125rem 0.6rem;
  background-color: var(--grey-medium-light);
}

.ModalSets__set:hover {
  cursor: pointer;
  background-color: #a0a0a0;
}

.ModalSets__set.ModalSets__set--active {
  background-color: var(--grey-extra-dark);
  color: var(--green);
}

.ModalSets__set.ModalSets__set--active:hover {
  cursor: default;
}

.ModalSets__setTopRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.125rem;
  gap: 1.2rem;
}

.ModalSets__setName {
  font-size: 1.1rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.ModalSets__setDate, .ModalSets__setAmount {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 650px) {
  .ModalSets {
    height: 13.3rem;
  }

  .ModalSets__setTopRow {
    flex-direction: column;
    gap: 0;
  }

  .ModalSets__setName {
    font-size: 1rem;
    font-weight: 500;
  }

  .ModalSets__setDate, .ModalSets__setAmount {
    font-size: 0.8rem;
    font-weight: 300;
  }
}