.Search {
  width: fit-content;
  min-width: 80%;
  margin: auto;
  padding: 2.4rem;
}

.Search__errorMessage {
  margin: 4.8rem 2.4rem 0 2.4rem;
  display: flex;
  justify-content: center;
  color: var(--grey-light);
  font-weight: 300;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  text-align: center;
}

.Search__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  background-color:  var(--grey-extra-dark);
  border-radius: 1000rem;
  font-size: 1rem;
}

.Search__summaryText {
  margin-left: 0.9rem;
  font-size: clamp(1rem, 0.6rem + 1.5vw, 1.125rem);
  font-weight: 300;
  color: var(--grey-light);
}

.Search__query {
  font-style: italic;
  font-weight: 400;
  color: var(--grey-extra-light);
}

.Search__results {
  margin: 2.4rem auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2.4rem;
  justify-content: space-between;
}

.Search__footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1100px) {
  .Search__results {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 829px) {
  .Search {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0;
  }

  .Search__results {
    grid-template-columns: repeat(3, auto);
    margin: 1.2rem 0;
    gap: 0rem;
  }

  .Search__summary {
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: fit-content;
    max-width: 75%;
    margin: auto;
    padding: 0 1.2rem;
  }

  .Search__summaryText {
    text-align: center;
    margin: 0.9rem 0.6rem 0 0.6rem;
  }

  .Search__footer {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .Search__results {
    grid-template-columns: repeat(2, auto);
  }
}