.SearchPage {
  background-color: var(--grey-extra-dark);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--grey-light);
  padding: 0.9rem;
  border-radius: 2.4rem;
}

.SearchPage__button {
  border: none;
  background-color: var(--grey-extra-dark);
}

.SearchPage__button--active {
  cursor: pointer;
}

.SearchPage__button--active:hover {
  transform: scale(1.5);
}

@media (max-width: 829px) {
  .SearchPage {
    scale: 0.8;
  }
}