.CreateTitle {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 0.6rem 1.2rem;
}

.CreateTitle__label {
  font-size: 0.875rem;
}

.CreateTitle__input {
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  width: 100%;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500;
}

.CreateTitle__input:focus {
  outline: none;
  border-bottom: 0.12rem solid var(--grey);
}

@media (max-width: 700px) {
  .CreateTitle__input {
    font-size: clamp(1rem, 0.7rem + 1vw, 1.125rem);
  }
}