.CreateTaxon {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
  position: relative;
}

.CreateTaxon__photo {
  object-fit: cover;
  object-position: center;
  height: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
  width: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
}

.CreateTaxon__noPhoto {
  height: 4.688rem;
  width: 4.688rem;
  background-color: var(--grey-medium);
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateTaxon__info {
  flex: 1;
  min-width: 0;
  gap: 0.6rem;
}

.CreateTaxon__index {
  font-size: 0.875rem;
}

.CreateTaxon__input {
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
  padding: 0;
  text-overflow: ellipsis;
}

.CreateTaxon__input:hover {
  background-color: var(--grey-extra-light);
}

.CreateTaxon__input:focus {
  outline: none;
  border-bottom: 0.12rem solid var(--grey);
  min-width: 100%;
}

.CreateTaxon__input:focus:hover {
  background-color: transparent;
}

.CreateTaxon__sciName {
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CreateTaxon__removeButton {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: clamp(0.6rem, 0.6rem + 1vw, 1.2rem);
}

.CreateTaxon__removeButton:hover {
  opacity: 80%;
  cursor: pointer;
}

.CreateTaxon__removeButton div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateTaxonSuggestions {
  margin-left: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
  margin-top: none;
}

.CreateTaxonSuggestions__suggestion {
  height: 2.4rem;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 0.08rem solid var(--grey);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.25rem 0 0.25rem 0.25rem;
  overflow-wrap: break-word;
}

.CreateTaxonSuggestions__suggestion:hover {
  cursor: pointer;
  opacity: 80%;
}

.CreateTaxonSuggestions__image {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  object-position: center;
}

.CreateTaxonSuggestions__namesContainer {
  display: flex;
  flex-direction: column;
  color: var(--grey-extra-light);
}

.CreateTaxonSuggestions__commonName {
  font-weight: 300;
}

.CreateTaxonSuggestions__sciName {
  font-style: italic;
  font-weight: 200;
  font-size: 90%;
}

@media (max-width: 500px) {
  .CreateTaxon__index {
    font-size: clamp(0.5rem, 0.5rem + 1vw, 0.875rem);
  }

  .CreateTaxon__input {
    font-size: clamp(1rem, 0.7rem + 1vw, 1.125rem);
  }

  .CreateTaxon__sciName {
    font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  }

  .CreateTaxonSuggestions {
    margin-left: 0;
  }
}