.CreateTaxon {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding-right: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.CreateTaxon__photo {
  object-fit: cover;
  object-position: center;
}

.CreateTaxon__noPhoto {
  height: 4.688rem;
  width: 4.688rem;
  background-color: var(--grey-medium);
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateTaxon__info {
  flex: 1;
}

.CreateTaxon__index {
  font-size: 0.875rem;
}

.CreateTaxon__input {
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  font-family: Roboto Mono;
  font-size: 1.125rem;
  font-weight: 500;
  min-width: 100%;
}

.CreateTaxon__input:hover {
  background-color: var(--grey-extra-light);
}

.CreateTaxon__input:focus {
  outline: none;
  border-bottom: 0.12rem solid var(--grey);
  min-width: 100%;
}

.CreateTaxon__input:focus:hover {
  background-color: transparent;
}

.CreateTaxon__sciName {
  font-weight: 200;
  font-style: italic;
  opacity: 80%;
}

.CreateTaxon__removeButton {
  padding: 0.6rem 1.2rem;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-family: Roboto Mono;
  border: none;
  border-radius: 1.2rem;
}

.CreateTaxon__removeButton:hover {
  opacity: 80%;
  cursor: pointer;
}

.CreateTaxonSuggestions {
  margin-left: 4.688rem;
  margin-top: none;
}

.CreateTaxonSuggestions__suggestion {
  height: 2.4rem;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-weight: 300;
  border-bottom: 0.08rem solid var(--grey);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.CreateTaxonSuggestions__suggestion:hover {
  cursor: pointer;
  opacity: 80%;
}

.CreateTaxonSuggestions__image {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  object-position: center;
}

.CreateTaxonSuggestions__sciName {
  margin-left: 0.9rem;
  font-style: italic;
  opacity: 70%;
}