.EditTaxon {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
  position: relative;
}

.EditTaxon__photo {
  object-fit: cover;
  object-position: center;
  height: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
  width: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
}

.EditTaxon__noPhoto {
  height: 4.688rem;
  width: 4.688rem;
  background-color: var(--grey-medium);
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditTaxon__info {
  flex: 1;
  min-width: 0;
  gap: 0.6rem;
}

.EditTaxon__index {
  font-size: 0.875rem;
}

.EditTaxon__input {
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
  padding: 0;
  text-overflow: ellipsis;
}

.EditTaxon__input:hover {
  background-color: var(--grey-extra-light);
}

.EditTaxon__input:focus {
  outline: none;
  border-bottom: 0.12rem solid var(--grey);
  min-width: 100%;
}

.EditTaxon__input:focus:hover {
  background-color: transparent;
}

.EditTaxon__sciName {
  font-weight: 200;
  font-size: 1rem;
  font-style: italic;
  opacity: 80%;
}

.EditTaxon__removeButton {
  padding: 0.6rem 1.2rem;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-family: Roboto;
  font-size: 0.8rem;
  border: none;
  border-radius: 1.2rem;
  margin-right: 0.6rem;
}

.EditTaxon__removeButton:hover {
  opacity: 80%;
  cursor: pointer;
}

.EditTaxonSuggestions {
  margin-left: clamp(4.2rem, 4.2rem + 1vw, 4.688rem);
  margin-top: none;
}

.EditTaxonSuggestions__suggestion {
  height: 2.4rem;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-weight: 300;
  border-bottom: 0.08rem solid var(--grey);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.25rem 0 0.25rem 0.25rem;
  overflow-wrap: break-word;
}

.EditTaxonSuggestions__suggestion:hover {
  cursor: pointer;
  opacity: 80%;
}

.EditTaxonSuggestions__image {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  object-position: center;
}

.EditTaxonSuggestions__namesContainer {
  display: flex;
  flex-direction: column;
  color: var(--grey-extra-light);
}

.EditTaxonSuggestions__commonName {
  font-style: italic;
  opacity: 70%;
}

.EditTaxonSuggestions__sciName {
  font-style: italic;
  opacity: 70%;
}

@media (max-width: 500px) {
  .EditTaxon__info {
    padding-right: 0.6rem;
  }

  .EditTaxon__index {
    font-size: clamp(0.5rem, 0.5rem + 1vw, 0.875rem);
  }

  .EditTaxon__input {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.125rem);
  }

  .EditTaxon__sciName {
    font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  }

  .EditTaxon__removeButton {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    margin-right: 0;
    padding: 0.2rem 0.5rem;
    font-size: clamp(0.5rem, 0.4rem + 1vw, 0.7rem);
  }

  .EditTaxonSuggestions {
    margin-left: 0;
  }
}