.Profile {
  max-width: 80%;
  margin: 2.4rem auto;
}

.Profile__banner {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.Profile__icon {
  width: 4.063rem;
  height: 4.063rem;
  background-color: var(--green);
  color: var(--grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.125rem;
  border-radius: 2.0315rem;
}

.Profile__username {
  color: var(--white);
  font-size: 1.875rem;
}

.Profile__options {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.Profile__button {
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  color: var(--grey-light);
  font-size: 1.1rem;
  font-family: Roboto;
  font-weight: 300;
  padding: 0.438rem 0.876rem;
}

.Profile__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.Profile__button--active {
  background-color: var(--grey-extra-dark);
}

.Profile__link {
  color: var(--grey-light);
}

@media (max-width: 700px) {
  .Profile__icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .Profile__username {
    font-size: 1.3rem;
  }

  .Profile__button {
    font-size: clamp(0.5rem, 0.4rem + 2vw, 1.1rem);
  }
}