.ProfileCreate {
  display: flex;
  flex-direction: column;
}

.ProfileCreate__submit {
  margin-top: 1.2rem;
  background-color: var(--green);
  color: var(--grey-extra-dark);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  min-width: 15%;
  height: 2.4rem;
  border: none;
  border-radius: 1.2rem;
  display: block;
  margin-left: auto;
  padding: 0.438rem 0.876rem;
}

.ProfileCreate__submit:hover {
  opacity: 80%;
  cursor: pointer;
}

.ProfileCreate__submit.ProfileCreate__submit--inactive {
  background-color: var(--grey);
  color: var(--grey-extra-dark);
}

.ProfileCreate__submit.ProfileCreate__submit--inactive:hover {
  cursor: default;
  opacity: 100%;
}

@media (max-width: 700px) {
  .ProfileCreate__submit {
    font-size: 1rem;
  }
}