.SetContentNoSpecies {
  margin: 4.8rem 2.4rem 0 2.4rem;
  display: flex;
  justify-content: center;
  color: var(--grey-light);
  font-weight: 300;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  text-align: center;
}

.SetContent {
  width: 100%;
}

.SetContent__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-extra-dark);
  color: var(--grey-light);
  font-size: clamp(0.7rem, 0.5rem + 1vw, 1.125rem);
  min-height: 3rem;
  padding: 0 clamp(0.3rem, 0.3rem + 1vw, 1.2rem);
}

.SetContent__bannerBox {
  display: flex;
  flex: 1;
}

.SetContent__bannerBox.SetContent__bannerBox--left {
  justify-content: left;
}

.SetContent__bannerBox.SetContent__bannerBox--center {
  justify-content: center;
}

.SetContent__bannerBox.SetContent__bannerBox--right {
  justify-content: right;
}

.SetContent__bannerButton {
  font-family: Roboto;
  background-color: var(--grey-dark);
  color: var(--grey-light);
  border: none;
  height: 2.125rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(0.3rem, 0.3rem + 1vw, 1.2rem);
}

.SetContent__shuffleButton {
  font-size: clamp(0.7rem, 0.5rem + 1vw, 1.125rem);
}

.SetContent__shuffleButton.SetContent__shuffleButton--active {
  color: var(--green);
}

.SetContent__shuffleButton:hover {
  cursor: pointer;
  opacity: 80%;
}

.SetContent__bannerArrow {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  font-weight: 100;
  margin: 0.3rem;
  opacity: 30%;
}

.SetContent__bannerArrow.SetContent__bannerArrow--active {
  opacity: 100%;
}

.SetContent__bannerArrow.SetContent__bannerArrow--active:hover {
  cursor: pointer;
  opacity: 80%;
}

.SetContent__bannerArrow.SetContent__bannerArrow--active:active {
  background-color: var(--green);
  color: var(--grey-extra-dark);
  opacity: 60%;
}

.SetContent__main {
  display: flex;
  background-color: var(--grey-light);
  justify-content: space-between;
  height: clamp(10rem, 8rem + 12vw, 20.4rem);
}

.SetContent__textContainer {
  margin: 0.6rem 1.2rem;
  color: var(--grey-extra-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  flex: 1;
}

.SetContent__commonName {
  font-size: clamp(1.3rem, 1rem + 1vw, 2rem);
}

.SetContent__sciName {
  font-style: italic;
  font-size: 1.5rem;
  font-size: clamp(1.1rem, 0.7rem + 1vw, 1.5rem);
  font-weight: 200;
}

.SetContent__wikiContainer {
  border-top: 0.05rem solid var(--grey-extra-dark);
  padding: 0.6rem 0;
  flex-basis: 6rem;
  flex-shrink: 1;
  overflow: scroll;
  margin: 0.6rem 0;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
  width: 100%;
}

.SetContent__wikiText {
  margin-bottom: 1.2rem;
}

.SetContent__wikiLink {
  font-weight: 300;
}

.SetContent__wikiLink a {
  text-decoration: underline;
  color: var(--grey-extra-dark);
}

.SetContent__wikiLink a:hover {
  color: var(--green-dark);
}

.SetContent__button {
  background-color: var(--grey-dark);
  color: var(--grey-light);
  margin: auto;
  padding: 0.6rem clamp(0.6rem, 0.6rem + 1vw, 1.8rem);
  border: none;
  border-radius: 2rem;
  font-family: Roboto;
  font-size: clamp(0.8rem, 0.4rem + 1vw, 1rem);
}

.SetContent__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.SetContent__button.SetContent__button--hide {
  margin: auto 0 0 0;
}

.SetContent__image {
  height: 100%;
  width: clamp(10rem, 8rem + 12vw, 20.4rem);
  object-fit: cover;
  object-position: center;
}

.SetContent__noImage {
  height: 100%;
  width: clamp(10rem, 8rem + 12vw, 20.4rem);
  background-color: var(--grey-medium);
  color: var(--grey-extra-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .SetContent__banner {
    justify-content: space-between;
  }

  .SetContent__main {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .SetContent__textContainer {
    margin-top: 0;
  }

  .SetContent__wikiContainer {
    overflow: visible;
    flex: 0;
    margin-bottom: 0;
  }

  .SetContent__button, .SetContent__button.SetContent__button--hide {
    margin: 0.9rem auto;
    order: -1;
  }

  .SetContent__image {
    height: clamp(10rem, 8rem + 12vw, 20.4rem);
    width: auto;
  }

  .SetContent__noImage {
    height: clamp(10rem, 8rem + 12vw, 20.4rem);
    width: auto;
  }
}