.LoadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.LoadingIcon__spinner {
  width: 2rem;
  height: 2rem;
  margin: 2.4rem;
  border: 0.3rem solid;
  border-color: var(--green) var(--green) var(--green) transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.LoadingIcon__spinner.LoadingIcon__spinner--small {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0;
  border: 0.2rem solid;
  border-color: var(--green) var(--green) var(--green) transparent;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}