@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  --grey-extra-dark: #333333;
  --grey-dark: #404040;
  --grey: #515151;
  --grey-light: #B1B1B1;
  --grey-extra-light: #DDDDDD;
  --white: #F5F2F2;
  --green-dark: #00A05D;
  --green: #00D475;
}

body,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto Mono;
  background-color: var(--grey-dark);
}

/* Disable autofill after form submission */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: var(--grey);
}

.header {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.container {
  width: fit-content;
  min-width: 80%;
  margin: auto;
  padding: 2.4rem;
  min-height: calc(100vh - 7.2rem);
}

.results-info {
  background-color: var(--grey-light);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.results-info-text {
  font-size: 1.625rem;
  color: var(--grey)
}

.results-info-page {
  background-color: var(--grey-dark);
  display: flex;
  align-items: center;
  color: var(--grey-light);
  padding: 0.6rem;
  border-radius: 2.4rem;
}

.results-info-page button {
  border: none;
  padding: 0 0.6rem;
  background-color: var(--grey-dark);
}

.results-info-page button.active {
  cursor: pointer;
}

.species-grid {
  margin: 2.4rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2.4rem;
  justify-content: space-between;
}

@media (min-width: 830px) and (max-width: 1100px) {
  .species-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 829px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 571px) and (max-width: 829px) {
  .species-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 570px) {
  .species-grid {
    grid-template-columns: auto;
  }
}

.search-bar {
  position: relative;
  grid-column: span 4;
  display: flex;
  height: 2.4rem;
  margin: 2.4rem 0;
}

.shake {
  animation: shake 0.8s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.search-bar * {
  border: none;
}

.search-bar input {
  font-family: Roboto Mono;
  width: 23.47rem;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding-inline: 0.625rem;
  font-size: 1.125rem;
}

.search-bar input:focus {
  outline: none;
  opacity: 70%;
  transition: all 0.1s;
}

.search-bar button {
  min-width: 3rem;
  background-color: var(--green-dark);
  color: var(--green);
  font-size: 1rem;
  font-weight: 500;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button:hover {
  cursor: pointer;
  opacity: 70%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid;
  border-color: var(--green) var(--green) var(--green) transparent;
  border-radius: 50%;
  animation: spin-anim 0.8s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.suggestions {
  position: absolute;
  z-index: 2;
  top: 2.4rem;
}

.suggestion {
  display: flex;
  background-color: var(--grey-light);
  width: 24.47rem;
  height: 2.4rem;
  padding: 0.25rem 0 0.25rem 0.25rem;
  border-top: 0.063rem solid var(--grey);
}

.suggestion:hover {
  background-color: var(--grey-extra-light);
  cursor: pointer;
}

.suggestion-info {
  min-width: 0;
  padding: 0.25rem;
  padding-top: 0;
}

.suggestion-info div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestion-info-name {
  color: #404040;
  font-weight: 300;
}

.suggestion-info-rank {
  color: #515151;
  font-weight: 200;
  font-size: 90%;
}

.suggestion-info-rank span {
  font-style: italic;
}

.navbar-right-text {
  color: var(--grey-light);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-right-text.active {
  color: var(--green);
}

.navbar-profile {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-profile button {
  background-color: var(--green);
  color: var(--grey-dark);
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  font-family: Roboto Mono;
}

.navbar-profile button:hover {
  cursor: pointer;
}

.navbar-profile-dropdown {
  position: absolute;
  right: 0;
  top: 2.7rem;
  background-color: var(--grey-dark);
  color: var(--grey-light);
  width: 11.2rem;
  padding: 0 0.6rem;
  border: 0.031rem solid var(--grey-light);
  border-radius: 0.625rem;
}

.navbar-profile-dropdown-username {
  display: flex;
  gap: 0.6rem;
  overflow: hidden;
  align-items: center;
  padding: 0.6rem 0;
}

.navbar-profile-dropdown-username div:nth-child(1) {
  background-color: var(--green);
  color: var(--grey-dark);
  font-size: 1.2rem;
  min-width: 2.4rem;
  min-height: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-profile-dropdown-username div:nth-child(2) {
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-profile-dropdown-option {
  border-top: 0.031rem solid var(--grey-light);
  padding: 0.6rem 0;
  font-size: 1rem;
}

.navbar-profile-dropdown-option-link {
  color: var(--grey-light);
  text-decoration: none;
}

.navbar-profile-dropdown-option:hover .navbar-profile-dropdown-option-link {
  color: var(--green);
}

.species-card {
  background-color: var(--grey);
  max-width: 14rem;
  text-decoration: none;
}

.species-info {
  padding: 0.625rem;
}

.species-info:hover .sci-name {
  opacity: 80%;
}

.common-name {
  color: var(--grey-light);
  font-size: 1.375rem;
  font-weight: 300;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
  margin-bottom: 0.625rem;
}

.sci-name {
  color: var(--grey-light);
  font-weight: 200;
  font-size: 0.875rem;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.species-card img {
  object-fit: cover;
  object-position: center;
  width: 14rem;
  height: 14rem;
}

.species-card img:hover {
  opacity: 80%;
}

/* Species Info Page */

.page-container {
  max-width: 80%;
  margin: 2.4rem auto;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.page-left {
  flex: 1;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1.2rem;
  background-color: var(--grey);
  margin-bottom: 1.2rem;
}

.page-common-name {
  font-size: 1.875rem;
  color: var(--white);
}

.page-sci-name {
  font-size: 1.25rem;
  font-style: italic;
  color: var(--grey-light);
}

.page-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Roboto Mono;
  font-size: 1rem;
  padding: 0;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--green);
  color: var(--green-dark);
}

.page-button:hover {
  cursor: pointer;
  background-color: var(--green-dark);
  color: var(--green);
}

.page-button:hover .button-plus {
  background-color: var(--green);
  color: var(--green-dark);
}

.button-text {
  padding: 0.2rem 1.2rem;
}

.button-plus {
  padding: 0.2rem 0.6rem;
  background-color: var(--green-dark);
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 100;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.page-wiki {
  background-color: var(--grey);
  color: var(--grey-light);
  padding: 1.2rem;
}

.page-wiki-info {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.page-wiki-cite a {
  font-style: italic;
  color: var(--grey-light);
}

.page-img {
  max-width: 40%;
  object-fit: cover;
  object-position: center;
}

/* Login Page */

.login-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 7.2rem);
}

.login-left {
  background-color: var(--green-dark);
  color: var(--green);
  width: 33vw;
  padding-top: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.login-right {
  width: 67vw;
  margin-top: 7.2rem;
  display: flex;
  justify-content: center;
}

.login-fields {
  background-color: var(--grey);
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  margin-bottom: 1.8rem;
}

.login-fields-error {
  margin-bottom: 1.8rem;
  color: var(--grey-light);
}

.login-link {
  color: var(--green);
}

.login-fields-password {
  margin-top: 1.8rem;
}

.login-fields input {
  font-family: Roboto Mono;
  height: 2.4rem;
  width: 23.47rem;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding-inline: 0.625rem;
  font-size: 1.125rem;
  border: none;
}

.login-fields input:focus {
  outline: none;
  opacity: 70%;
  transition: all 0.1s;
}

.login-submit {
  background-color: var(--green-dark);
  color: var(--green);
  font-family: Roboto Mono;
  border: none;
  width: 28.27rem;
  height: 2.525rem;
  padding: none;
  font-size: 1.125rem;
}

.login-submit:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--green-dark);
}

/* Profile */
.profile-container {
  max-width: 80%;
  margin: 2.4rem auto;
}

.profile-banner {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.profile-banner div:nth-child(1) {
  width: 4.063rem;
  height: 4.063rem;
  background-color: var(--green);
  color: var(--grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.125rem;
  border-radius: 2.0315rem;
}

.profile-banner div:nth-child(2) {
  color: var(--white);
  font-size: 1.875rem;
}

.profile-options {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 0.6rem;
}

.profile-options button {
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  color: var(--grey-light);
  font-size: 1.1rem;
  font-family: Roboto Mono;
  font-weight: 300;
  padding: 0.438rem 0.876rem;
}

.profile-options button:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile-options button.active {
  background-color: var(--grey-extra-dark);
}

.profile-options button a {
  color: var(--grey-light);
}

/* Create page */

.create-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.create-title {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 0.6rem 1.2rem;
}

.create-title div {
  font-size: 0.875rem;
}

.create-title input {
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  width: 100%;
  font-family: Roboto Mono;
  font-size: 1.125rem;
  font-weight: 500;
}

.create-title input:focus {
  outline: none;
  border-bottom: 0.12rem solid var(--grey);
}

.create-taxon {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 0.6rem 1.2rem;
  display: flex;
  justify-content: space-between;
}

.create-taxon-left div:nth-child(1) {
  font-size: 0.875rem;
}

.create-taxon-left div:nth-child(2) {
  font-size: 1.125rem;
  font-weight: 500;
}

.create-add {
  background-color: var(--grey-extra-dark);
  color: var(--green);
  border: none;
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.6rem 1.2rem;
  display: flex;
  justify-content: center;
}

.create-add:hover {
  border-bottom: 0.12rem solid var(--green);
  cursor: pointer;
}

.create-submit {
  background-color: var(--green);
  color: var(--grey-extra-dark);
  font-family: Roboto Mono;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 15%;
  height: 2.4rem;
  border: none;
  border-radius: 1.2rem;
  display: block;
  margin-left: auto;
  padding: 0.438rem 0.876rem;
}

.create-submit:hover {
  opacity: 80%;
  cursor: pointer;
}